{% extends 'base.html.twig' %}

{% block title %}
    {{ ship.name }}
{% endblock %}

{% block body %}
    <div class="my-4 px-4 sm:px-8">
        <a class="bg-white hover:bg-gray-200 rounded-xl p-2 text-black flex items-center w-24" href="{{ path('app_homepage') }}">
            <svg class="inline text-black mr-2" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                <path fill="#000" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
            </svg>
            Back
        </a>

    </div>
    <div class="flex flex-col md:flex-row justify-center space-x-0 md:space-x-3 mt-5 px-4 lg:px-8">
        <div class="flex justify-center mb-5 md:mb-0">
            <img class="max-h-[300px] md:max-h-[500px] w-auto" src="{{ ship.imageUrl }}" alt="{{ ship.name }}">
            <div class="space-y-5 max-w-xl mx-auto">
                <div class="mt-8">
                    <div class="px-8 pt-4">
                        <div class="rounded-2xl py-1 px-3 flex justify-center w-32 items-center" style="background: rgba(255, 184, 0, .1);">
                            <div class="rounded-full h-2 w-2 mr-2
                                {% if ship.getStatusId() == 3 %}
                                bg-gray-400
                                {% elseif ship.getStatusId() == 2 %}
                                bg-amber-400
                                {% elseif ship.getStatusId() == 1 %}
                                bg-green-400
                                {% else %}
                                bg-red-400  {# domyślny kolor, jeśli status nie pasuje do żadnego z powyższych #}
                                {% endif %}
                            "></div>
                            <p class="uppercase text-xs">
                                {{ ship.getStatus() }}
                            {# lub {{ ship.status }} jeśli masz odpowiednią metodę #}
                            </p>
                        </div>

                        <h1 class="text-2xl sm:text-[32px] font-semibold border-b border-white/10 pb-3 mb-4">
                            {{ ship.name }}
                        </h1>
                        <h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">
                            Spaceship Captain
                        </h4>
                        <p class="text-lg sm:text-[22px] font-semibold">
                            {{ ship.captain }}
                        </p>

                        <h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">
                            Class
                        </h4>
                        <p class="text-lg sm:text-[22px] font-semibold">
                            {{ ship.class }}
                        </p>

                        <h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">
                            Ship Status
                        </h4>
                        <p class="text-lg sm:text-[22px] font-semibold">
                            30,000 lys to next service
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    